<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearningCoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE3FE0531D9D979A002E35E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3FE0671D9D979B002E35E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3FE0721D9D979B002E35E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
